body {
    background-color: #fff;

    .img {
        height: 100px;
        width: 100px;
    }
}

main {
    border: solid 1px black;
    box-shadow: 5px;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 1000px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: 180px;
    margin-right: 250px;
    border: none;
    box-shadow: 1px 1px 1px 1px;

    // margin: 100px 200px 100px 200px;
    .div-main {
        margin: 50px 50px 50px 50px;
        display: flex;
        justify-content: center;

        .div-1 {
            background-color: orange;
            width: 250px;
            padding: 10px;

            .div-1-sub {
                padding-top: 8px;
                text-align: center;
                height: 25px;
                width: 100px;
                border: solid 1px none;
                color: orange;
                background-color: white;
                border-radius: 10px;
            }
        }

        .div-2 {
            background-color: greenyellow;
            width: 250px;
            padding: 10px;

            .div-2-sub {
                padding-top: 8px;
                text-align: center;
                height: 25px;
                width: 100px;
                border: solid 1px none;
                color: greenyellow;
                background-color: white;
                border-radius: 10px;
            }
        }

        .div-3 {
            background-color: green;
            width: 250px;
            padding: 10px;

            .div-3-sub {
                padding-top: 8px;
                text-align: center;
                height: 25px;
                width: 100px;
                border: solid 1px none;
                color: green;
                background-color: white;
                border-radius: 10px;
            }
        }
    }
}